[submodule "bundle/puppet"]
	path = bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/pgsql"]
	path = bundle/pgsql
	url = https://github.com/lifepillar/pgsql.vim.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/StatusLineHighlight"]
	path = bundle/StatusLineHighlight
	url = https://github.com/vim-scripts/StatusLineHighlight.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/colors-diokai"]
	path = bundle/colors-diokai
	url = https://github.com/ltlollo/diokai.git
[submodule "ide-tools/nerdtree"]
	path = ide-tools/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/skeletons"]
	path = bundle/skeletons
	url = https://github.com/pgilad/vim-skeletons.git
[submodule "bundle/xml"]
	path = bundle/xml
	url = https://github.com/othree/xml.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "ide-tools/javacomplete2"]
	path = ide-tools/javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/simpylfold"]
	path = bundle/simpylfold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "ide-tools/syntastic"]
	path = ide-tools/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "ide-tools/jedi-vim"]
	path = ide-tools/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "bundle/virtualenv"]
	path = bundle/virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "bundle/javacomplete2"]
	path = bundle/javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/completor"]
	path = bundle/completor
	url = https://github.com/maralla/completor.vim
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/mib"]
	path = bundle/mib
	url = https://github.com/sedan07/vim-mib.git
