snippet class
`!p
import re

splitted = path.split('/')
if splitted[0:3] == ['src', 'main', 'java']:
	snip.rv = 'package '
	snip.rv += '.'.join(splitted[3:-1])
	snip.rv += ';'
	snip.rv += '\n'
`/**
 * @author `whoami`
 */
${1:public} ${2:class} `!v expand('%:t:r')` {

	${0}

}

endsnippet

snippet def
${1:public} ${2:void} ${3:myFunction}(${4:params}) {
	${0:throw new UnsupportedOperationException;}
}
endsnippet

snippet if
if (${1:expr}) {
	${0:// TODO}
}
endsnippet
